@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Orbitron:wght@400;500;900&family=Space+Grotesk:wght@400;700&display=swap');

#weatherCardsContainer {
    background-image: url('/img/inOP1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

#nbbgcLogo {
    font-family: 'Space Grotesk', sans-serif;

}

#nbbgcIntro {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
}

#intro {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

.statesNames {
    font-family: 'Bree Serif', serif;
    font-weight: 400;
}

.addInfos {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
}

.temps {
    color: rgb(11 139 115);
}

#dateTimeContainer {
    opacity: 0.5;
}

#footerCountInfo {
    opacity: 0.9;
}

/* ____________________________-CSS FOR  TABLEDATA STARTED____________________________- */
.tableDataColor1 {
    color: rgb(2, 97, 99);
}

.tableDataColor2 {
    color: rgb(177, 8, 120);
}

/* ____________________________-CSS FOR  TABLEDATA ENDED____________________________- */